{% extends 'base.html.twig' %}

{% block body %}
<div class="p-2 mb-2">
    <div class="container">
        <h1 class="display-4">Tasks</h1>
    </div>
</div>
<div class="container">
    <div class="row mb-3">
        <div class="col">
            <blockquote class="mx-6 p-4 quote">
                {{ quote.sentence }}
                <cite class="mt-3">{{ quote.character }}</cite>
            </blockquote>
        </div>
    </div>
    <div class="row">
        {% for task in tasks %}
        <div class="col-12 mb-3">
            <div style="box-shadow: 2px 3px 9px 4px rgba(0,0,0,0.04);">
                <div class="q-container p-4">
                    <div class="row">
                        <div class="col">
                            <h2>{{ task.title }}</h2>
                            {% if app.user %}
                                <div class="mb-3">
                                    <a href="{{ path('task_assign_user', {'id': task.id}) }}">Assign yourself</a>
                                </div>
                            {% endif %}
                            <div class="q-display p-3">
                                <p class="pt-4">{{ task.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
